<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind","data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://cdn.tailwindcss.com"></script>
    

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white text-gray-800 font-serif max-w-3xl mx-auto p-6 leading-relaxed text-center  ">

    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= alert %></p>
    <%if flash.present?%>
    <% debugger %>
    <%end%>
    <% if user_signed_in? %>
        <%= link_to "Profile",edit_user_registration_path  %>
        <%= link_to "New post",new_blog_post_path %>
        <%= button_to "Log out" ,destroy_user_session_path, method: :delete%>
    <% else %>
        <%= link_to "Log in",new_user_session_path %>
        <%= link_to "Sign up",new_user_registration_path %>
    <% end %>  
    <%= yield %>
  </body>
</html>
